<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} – {% endif %}{{ metadata.title }}</title>

    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="shortcut icon" href="{{ '/img/favicon.png' | addTimestamp }}" />

    <link rel="alternate" href="{{ metadata.feed.path }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path }}" type="application/json" title="{{ metadata.title }}">

    <link rel="stylesheet" href="{{ '/styles/index.css' | addTimestamp }}">
    <link rel="stylesheet" href="{{ '/styles/main.css' | addTimestamp }}">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="header__title hidden"><a href="/" rel="home">{{ metadata.title }}</a></h1>
        <div class="header__image" style="--im-w: 1080px; --im-h: 400px;">
          <a href="/" rel="home"><img width="1080" height="400" src="{{ '/img/header/header.webp' | addTimestamp }}" srcset="{{ '/img/header/header.webp' | addTimestamp }}, {{ '/img/header/header-2x.webp' | addTimestamp }} 2x" alt="{{ metadata.title }}"></a>
        </div>
      </header>

      <main class="content {% if is_page %}page{% endif %}">
        {{ content | safe }}
      </main>

      {% include "./sidebar.njk" %}

      {% include "./footer.njk" %}
    </div>
  </body>
</html>
