<footer class="footer">
  <div>
    организатор: <span class="tripcode"><s title="Двачь перестал отображать старый трипкод">!!oGnewmDbmI</s></span> <span class="tripcode">!MBoXQBAV7k</span>
  </div>

  <div style="margin-top: 5px;">
    сделано на <a href="https://www.11ty.dev" target="_blank">Eleventy</a>, исходники на <a href="https://github.com/twoweeks/twg23-blog">GitHub</a>
  </div>
</footer>
