<footer class="footer">
  <div>
    организатор: <span class="tripcode"><span class="tripcode">!MBoXQBAV7k</span> / <a href="https://twoweeksgame.ru" class="footer__twglink" rel="external">TwoWeeksGame.ru</a>
  </div>

  <div class="footer__supporters">
    <span>информационная поддержка:</span>
    <ul>
      <li><a href="https://2ch.hk"><img src="/img/logos/dvach.svg" alt="Двач"></a></li>
    </ul>
  </div>

  <div style="margin-top: 5px;">
    сайт сделан на <a href="https://www.11ty.dev">Eleventy</a>, исходники на <a href="https://github.com/twoweeks/twg23-blog">GitHub</a>
  </div>

  <div>
    дизайн баннера: <a href="https://vk.com/tehcojam">Никита Коджем</a>
  </div>
</footer>
