<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "Two Weeks Game 23 &#8212; конкурс по разработке игр",
    "alternateName": "TWG 23",
    "description": "Конкурс по разработке видеоигр в двухнедельный срок",
    "startDate": "2023-02-03",
    "endDate": "2023-02-19",
    "eventStatus": "https://schema.org/EventScheduled",
    "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
    "organizer": {
      "@type": "Organization",
      "name": "Конкурс Two Weeks Game",
      "url": "https://twoweeksgame.ru",
      "sameAs": [
        "https://twoweeksgame.ru"
      ]
    },
    "superEvent": {
      "@type": "EventSeries",
      "name": "Two Weeks Game &#8212; конкурс по разработке игр",
      "url": "https://twoweeksgame.ru"
    },
    "location": {
      "@type": "VirtualLocation",
      "url": "https://23.twoweeks.ru"
    },
    "inLanguage": "ru-RU"
  }
</script>
