<aside class="sidebar">
  <div style="font-size: 1.4em; font-weight: bold;">
    призовой фонд:<br><span style="font-size: 1.5em">57 114 ₽</span>
  </div>

  <div>
    <a href="https://www.tinkoff.ru/cf/8a4NeOAGr3O">сделать пожертвование в фонд конкурса</a>
  </div>

  <div>
    <a href="/pages/rules/">регламент конкурса</a>
  </div>

  <div>
    <p style="margin-bottom: 0;">обсуждение конкурса:</p>
    <ul style="margin-top: 0;">
      <li><a href="https://2ch.hk/gd/">закреплённый тред в /gd/</a></li>
      <li><a href="https://discord.gg/FNFnJVCZA9">сервер в Discord</a></li>
      <li><a href="https://t.me/gdchat">чат в Telegram</a></li>
    </ul>
  </div>

  <div>
    <ul>
      <li><a href="https://22.twoweeks.ru">прошлый конкурс</a></li>
      <li><a href="https://twoweeks.github.io/games-db/">игры прошлых конкурсов</a></li>
    </ul>
  </div>
</aside>
