---
title: Финальные версии
date: 2023-02-19
layout: layouts/post.njk
---

<p>Всего на конкурс было отправлено {{ { number:games_final.length, titles: ['проект', 'проекта', 'проектов'] } | declOfNum }}.</p>

<p>Теперь участникам и судьям даётся время поиграть в финальные версии до <strong>24 февраля</strong> включительно, чтобы составить своё мнение. Затем им будут отправлены анкеты для голосования - проголосовать надо будет до <strong>26 февраля, 23:59 МСК</strong> включительно.</p>

<p>Напоминание - согласно <a href="/pages/rules/#itogi-konkursa">регламенту</a>, если участник отказывается от оценивания игр и/или не отправляет заполненную форму с оценками в указанный срок, его игра не имеет права участвовать в распределении призовых мест.</p>

<p style="text-align: center; font-size: 1.5em"><b><a href="https://disk.yandex.ru/d/UfqB1kOInFSp3A">&gt;&gt;&gt; СКАЧАТЬ ВСЕ ИГРЫ &lt;&lt;&lt;</a></b></p>

{% from "macro/games-list.njk" import gamesList %}

{{ gamesList(games_final) }}
