{% macro gamesList(gamesArray) %}
  <div class="games-container">
    {% for gameInfo in gamesArray %}
    <div class="game">
      <picture class="game__picture" {% if not gameInfo.screenshot %}data-empty{% endif %}>
        {% if gameInfo.screenshot %}
        <a href="{{ gameInfo.screenshot }}" data-lightbox="game" data-title="{{ gameInfo.title }}">
          <img src="{{ gameInfo.screenshot }}" alt="{{ gameInfo.title }}" loading="lazy">
        </a>
        {% else %}
        <a href="javascript:void 0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="скриншота нет" loading="lazy">
        </a>
        {% endif %}
      </picture>
      <div class="game__info">
        <h3 class="game__info__title">{{ gameInfo.title }}</h3>
        {% if gameInfo.tools %}
          <p class="game__info__tools">
            Используемые инструменты: {{ gameInfo.tools }}
          </p>
        {% endif %}
        <p class="game__info__genre">
          {% if gameInfo.genre %}Жанр: {{ gameInfo.genre }}{% else %}Жанра нет{% endif %}
        </p>
        <p class="game__info__description">
          {% if gameInfo.description %}{{ gameInfo.description }}{% else %}Описания нет{% endif %}
        </p>
        {% if gameInfo.archive %}
          <a class="game__info__link" href="{{ gameInfo.archive }}" target="_blank">
            <span>скачать</span>
          </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endmacro %}
